---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="TimoCodes Blog">
    <section class="py-12 max-w-4xl mx-auto">
        <h1 class="text-4xl font-bold mb-8 text-center text-green-300">
            Blogging for the Tech Community
        </h1>
        <div class="grid gap-8 md:grid-cols-2">
            {
                sortedPosts.map((post) => (
                    <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300">
                        <BlogPostPreview post={post} />
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
