---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ResourceNavigation from '../../components/ResourceNavigation.astro';
import '../../styles/markdown.css';

export async function getStaticPaths() {
    const resources = await getCollection('resources');
    return resources.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <div class="flex">
        <aside class="w-1/4">
            <ResourceNavigation />
        </aside>
        <article class="w-3/4 prose prose-invert max-w-none">
            <h1>{entry.data.title}</h1>
            <Content />
        </article>
    </div>
</Layout>
