---
import { getCollection } from 'astro:content';

const resources = await getCollection('resources');
const topLevelResources = resources.filter(
    (resource) => !resource.slug.includes('/'),
);
---

<nav class="resource-nav">
    <ul>
        {
            topLevelResources.map((resource) => (
                <li>
                    <a href={`/resources/${resource.slug}`}>
                        {resource.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    .resource-nav {
        /* Add your cyberpunk styling here */
    }
</style>
