---
import '../styles/global.css';
import '../styles/markdown.css';
import Navigation from '../components/Navigation.vue';

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="glitch-overlay"></div>
        <Navigation client:load />
        <main class="container mx-auto px-4 py-8">
            <slot />
        </main>
    </body>
</html>
